.filter {
    width: 17%;
    padding: 16px;
    margin-right: 5%;
    border: 0.5px solid black;
    border-radius: 20px;
}


.filter-section.blocks {
    font-family: 'Lato', sans-serif;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto; 
    display: grid;
    margin-right: 10rem;
    
}
.filter-section.blocks label:nth-child(3) {
    grid-row: 2 / span 1;  
}
  
.filter-section.blocks label:nth-child(1) {
    grid-row: 1 / span 1;
}

.filter h1 {
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
    font-weight: 900;
}



  
  
  
  
  
  
  
  