

.Lägg-till-knapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    border: none;
    background: none;
    position: relative;
    top: -65px; 
    margin-left: 94%;
}

.Lägg-till-knapp:hover{
    background-color: #ededed;
    border-radius: 20%;
}


  
  








  
   