
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    
    
}

.course-container {
    background-color: #f9f9f9;
    margin: 0 16px 16px;
    padding: 16px;
    position: relative;
    border: 0.5px solid black; 
    border-radius: 20px;
    
}
/**
.header-info {

}
**/

.h1 {
  font-family: 'Montserrat';
}








  
   