

.Lägg-till-knapp {
    display: flex;
    flex-direction: column;
    justify-content: right;
    border: none;
    background: none;
    position: relative;
    top: -65px; 
    margin-left: 94%;
}

.Lägg-till-knapp div {
    font-size: 90%;
    margin-left: -0.3rem
}


  
  








  
   