.menybar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6 rem;
  max-width: 100%;
  flex-direction: row;
  padding: 100px, 100px, 0px;
}

.start {
  width: 50px;
  height: 70px;
  margin-left: 1%;
}
.minasidor {
  margin-left: auto;
  margin-right: 1%;
  width: 50px;
  height: 70px;
}
.loggain {
  width: 50px;
  height: 70px;
}

.text {
  font-size: 0.5em;
}

.containerleft {
  flex-direction: row;
}
